@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_8x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_7x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_6x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_5x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_4x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_3x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_2x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/lands_1x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background: url("../../blog/categorias/imagenes/original/4/Engineering_design.jpg%3F1497544141"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--4:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_8x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_7x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_6x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_5x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_4x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_3x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_2x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/lands_1x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background: url("../../blog/categorias/imagenes/original/3/Project6.jpg%3F1497544402"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--3:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_8x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_7x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_6x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_5x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_4x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_3x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_2x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/lands_1x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background: url("../../blog/categorias/imagenes/original/2/Planning.jpg%3F1497544990"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--2:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_8x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_7x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_6x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_5x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_4x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_3x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_2x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/lands_1x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background: url("../../blog/categorias/imagenes/original/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--1:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_8x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_7x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_6x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_5x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_4x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_3x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_2x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/lands_1x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background: url("../../blog/categorias/imagenes/original/5/Engineering_design.jpg%3F1497544573"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--5:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_8x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_7x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_6x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_5x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_4x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_3x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_2x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/lands_1x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background: url("../../blog/categorias/imagenes/original/6/Project6.jpg%3F1497544440"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--6:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_8x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_7x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_6x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_5x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_4x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_3x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_2x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/lands_1x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background: url("../../blog/categorias/imagenes/original/7/Planning.jpg%3F1497544968"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--7:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_8x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_7x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_6x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_5x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_4x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_3x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_2x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/lands_1x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background: url("../../blog/categorias/imagenes/original/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all {
  .blogs_categorias-index #blogs_categorias-index--8:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }

@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_8x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_7x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_6x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_5x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_4x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_3x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_2x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/lands_1x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background: url("../../blog/categorias/imagenes/original/4/Engineering_design.jpg%3F1497544141"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--4:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_8x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_7x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_6x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_5x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_4x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_3x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_2x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/lands_1x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background: url("../../blog/categorias/imagenes/original/3/Project6.jpg%3F1497544402"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--3:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_8x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_7x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_6x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_5x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_4x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_3x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_2x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/lands_1x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background: url("../../blog/categorias/imagenes/original/2/Planning.jpg%3F1497544990"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--2:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_8x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_7x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_6x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_5x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_4x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_3x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_2x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/lands_1x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background: url("../../blog/categorias/imagenes/original/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--1:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_8x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_7x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_6x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_5x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_4x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_3x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_2x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/lands_1x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background: url("../../blog/categorias/imagenes/original/5/Engineering_design.jpg%3F1497544573"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--5:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_8x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_7x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_6x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_5x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_4x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_3x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_2x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/lands_1x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background: url("../../blog/categorias/imagenes/original/6/Project6.jpg%3F1497544440"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--6:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_8x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_7x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_6x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_5x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_4x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_3x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_2x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/lands_1x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background: url("../../blog/categorias/imagenes/original/7/Planning.jpg%3F1497544968"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--7:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_8x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_7x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_6x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_5x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_4x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_3x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_2x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/lands_1x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background: url("../../blog/categorias/imagenes/original/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show--8:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
.blogs_categorias-show #blogs_categorias-show-icon--1:before {
  background: url("../../blog/categorias/imagenes/icon_lands/1/Financial_strategy7.jpg%3F1497544656");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--2:before {
  background: url("../../blog/categorias/imagenes/icon_lands/2/Planning.jpg%3F1497544990");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--3:before {
  background: url("../../blog/categorias/imagenes/icon_lands/3/Project6.jpg%3F1497544402");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--4:before {
  background: url("../../blog/categorias/imagenes/icon_lands/4/Engineering_design.jpg%3F1497544141");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--5:before {
  background: url("../../blog/categorias/imagenes/icon_lands/5/Engineering_design.jpg%3F1497544573");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--6:before {
  background: url("../../blog/categorias/imagenes/icon_lands/6/Project6.jpg%3F1497544440");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--7:before {
  background: url("../../blog/categorias/imagenes/icon_lands/7/Planning.jpg%3F1497544968");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
.blogs_categorias-show #blogs_categorias-show-icon--8:before {
  background: url("../../blog/categorias/imagenes/icon_lands/8/Financial_strategy7.jpg%3F1497544688");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_8x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_7x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_6x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_5x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_4x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_3x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_2x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/lands_1x/4/Engineering_design.jpg%3F1497544141"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background: url("../../blog/categorias/imagenes/original/4/Engineering_design.jpg%3F1497544141"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--4:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_8x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_7x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_6x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_5x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_4x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_3x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_2x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/lands_1x/3/Project6.jpg%3F1497544402"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background: url("../../blog/categorias/imagenes/original/3/Project6.jpg%3F1497544402"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--3:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_8x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_7x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_6x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_5x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_4x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_3x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_2x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/lands_1x/2/Planning.jpg%3F1497544990"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background: url("../../blog/categorias/imagenes/original/2/Planning.jpg%3F1497544990"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--2:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_8x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_7x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_6x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_5x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_4x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_3x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_2x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/lands_1x/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background: url("../../blog/categorias/imagenes/original/1/Financial_strategy7.jpg%3F1497544656"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--1:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_8x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_7x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_6x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_5x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_4x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_3x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_2x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/lands_1x/5/Engineering_design.jpg%3F1497544573"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background: url("../../blog/categorias/imagenes/original/5/Engineering_design.jpg%3F1497544573"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--5:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_8x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_7x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_6x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_5x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_4x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_3x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_2x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/lands_1x/6/Project6.jpg%3F1497544440"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background: url("../../blog/categorias/imagenes/original/6/Project6.jpg%3F1497544440"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--6:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_8x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_7x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_6x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_5x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_4x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_3x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_2x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/lands_1x/7/Planning.jpg%3F1497544968"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background: url("../../blog/categorias/imagenes/original/7/Planning.jpg%3F1497544968"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--7:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_8x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_7x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_6x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_5x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_4x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_3x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_2x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/lands_1x/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all and (min-width: 160em) {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background: url("../../blog/categorias/imagenes/original/8/Financial_strategy7.jpg%3F1497544688"); } }
@media all {
  .blogs_categorias-show #blogs_categorias-show-cat--8:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
